body {
    background-color: #0A2947;
}

.title-box {
    background-color: #F3E4C9;
    border: 6px solid #8B5E3C;
}


h1 {
    color: red;
    text-align: center;
    font-family: "Audiowide", sans-serif;
}

h3 {
    color: red;
    text-align: center;
    font-family: "Audiowide", sans-serif;
}

select {
    color: red;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    background-color:  #F3E4C9;
}

button {
    color: red;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    background-color:  #F3E4C9;
}

.items {
    background-color: #D3D4C0;
    padding-top: 20px;
}

#image-box {
    border: 2px solid black;
    height: 300px;
    width: 210px;
    margin-bottom: 30px;
    margin-right: 10px;
}

#penalty {
    margin-bottom: 30px;

}

#resultImage {
    height: 300px;
    width: 210px;
}

#intro-box {
    border: 2px solid black;
    height: 300px;
    max-width: fit-content;
    margin-bottom: 30px;
}

#intro-image {
    height: 300px;
    width: 100%;
    max-width: 620px;
}

.head-container {
    display: flex;
    flex-wrap: wrap;
}

button {
    height: 30px;
    border-radius: 10px;
    align-self: center;
    margin-right: 20px;
    margin-left: 20px;
}

#the_module {
    height: 30px;
    border-radius: 10px;
    align-self: center;
    border: 2px solid black;
    margin-right: 10px;
}

.primary-container {
    display: flex;
    flex-wrap: wrap;
}

.primary-container>* {
    max-width: 33%;
}

.secondary-container {
    display: flex;
    flex-wrap: wrap;
}

.secondary-container>* {
    max-width: 33%;
}

@media (max-width: 1226px) {

    /* #image-box {
        align-self: flex-end;
        /* margin-right: 200px; */
    .head-container {
        justify-content: center;
    }

    #the_module {
        margin-bottom: 20px;
    }

    .primary-container>* {
        max-width: 100%;
    }

    .secondary-container>* {
        max-width: 100%;
    }

}